.section2_2
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
  font-family: Raleway, serif
  background: black
  color: white
  padding-top: 40px
  padding-bottom: 40px
  position: relative
  top: -10px


.documents-layout
  display: flex
  flex-flow: row
  gap: 20px
  justify-content: center
  align-items: center

  &__image
    img
      width: 500px
      object-fit: cover

.documents-info
  display: flex
  flex-flow: column
  align-items: start
  justify-content: start

  &__title
    font-size: 44px

  &__text
    font-size: 28px

  &__action


