.section4
  background: black
  position: relative
  top: -10px
  color: white
  font-family: Raleway, serif
  padding-top: 60px
  padding-bottom: 70px

.contacts
  display: flex
  flex-flow: row
  align-items: center
  justify-content: center
  gap: 30px

  &__info
    display: flex
    flex-flow: column

  &__image
    img
      width: 455px
      height: 507px
      object-fit: cover

  .info
    &__title
      font-size: 71px
      margin-bottom: 20px
    &__sub-title
      font-size: 44px
      margin-bottom: 20px
    &__email
      font-size: 20px
      margin-bottom: 10px
    &__contacts
      font-size: 17px

.contact-item
  margin-bottom: 20px
  max-width: 600px