.wrapper
  position: relative
  display: flex
  flex-flow: column
  padding-left: 34px
  padding-right: 34px
  height: 100%
  gap: 34px


.row-cards
  display: flex
  flex-flow: row
  flex-wrap: nowrap
  gap: 34px

.section1_1
  position: relative
  top: -5px
  font-family: Raleway, serif !important

  .content-overlay
    position: relative!important
    top: 0px !important
    animation: none !important

  .background-image
    img
      height: 820px!important
      filter: brightness(0.4) contrast(1.8)


.title
  font-size: 32px
  color: white

.title_left
  margin-left: 120px
  margin-bottom: 40px
  margin-top: 40px

.subtitle
  display: flex
  flex-flow: row
  align-items: center
  justify-content: center
  font-size: 25px
  margin-top: 34px
  margin-bottom: 34px
  color: white


