.header
  background: #171717
  display: flex
  align-items: center
  justify-content: center
  flex-flow: row
  padding-left: 20px
  padding-right: 20px
  padding-top: 8px
  gap: 60px
  color: white !important
  position: relative
  z-index: 3

  &__main-logo
    img
      width: 283px
      height: 184px
      object-fit: cover


  &__title
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    h2
      font-weight: 500
      font-size: 20px
      color: white

  &__contacts
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    gap: 10px

  &__buttons
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center

.contact
  font-size: 18px


.contact_small
  font-size: 13px
  font-weight: 100


.header__buttons
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
