.section3
  color: white
  font-family: Raleway, serif
  position: relative
  top: -10px

  .background-image
    img
      filter: brightness(0.4) contrast(1)


.feedback-layout
  display: flex
  flex-flow: column
  align-items: center

  &__title
    font-size: 44px
    margin-bottom: 80px
    margin-top: 30px

  &__sub-title
    font-size: 22px
    margin-bottom: 60px

  &__action
    display: flex
    flex-flow: row
    img
      position: absolute
      left: -50px
      width: 45px


