.section2_1
  position: relative
  top: -10px
  font-family: Raleway, serif
  .background-image
    img
      height: 820px!important
      filter: brightness(0.4) contrast(1)

  .content-overlay
    top: 40px
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center

  .title
    font-family: Raleway, serif

.steps-grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 20px

.step-item
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  max-width: 300px
  color: white

  &__icon
    margin-bottom: 10px
    img
      width: 120px
      height: 120px

  &__title
    font-size: 22px
    margin-bottom: 10px
  &__text
    font-size: 13px